# Ambiente virtual
venv/
env/
.venv/

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Arquivos do VS Code
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp

# Configurações locais
.env
